body{
    font-family: "Poor Story";
    line-height: 1.5;
}

h1{
   background-color: #E0EDFFFF; 
   padding: 2px;
}

h2{
    background-color: #FEFFD1FF;
}

h3{
    color: #0040FFFF;
    font-weight: 1000;
}

a{
    text-decoration: none;
    color: #FF87F7FF;
}

a:hover{
    font-weight: bolder;
    color: red;
}


.container{
    text-align: center;
}

.trip-card{
    border: lightgray solid 1px;
    padding: 20px;
    margin: 20px;
}

table{
    width: 1000px;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table, th, td{
    border: 1px black solid;
}

th{
    background-color: lightpink;
}

td{
    background-color: rgb(254, 255, 226);
}

input{
    width: 300px;
    height: 20px;
}

fieldset{
    border-radius: 15px;
}

